<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Prat Careers</title>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <img id="banner" class="img-fluid" src="static/banner.jpg" alt="Prat Careers Banner" >

    <div class="container"> 
        <h1 class="text-center mt-2 mb-4">
            {{ company_name }}
        </h1>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-6">
                <p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut alias quibusdam eos accusantium aperiam mollitia doloribus quae. Ipsam eveniet dolores dolorem sit, sint veritatis voluptas, quam eaque placeat fugiat possimus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, deserunt molestias odio, corporis labore natus earum assumenda dignissimos ex facilis in dolores quo beatae exercitationem, ad ab sint? Id, natus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto consequuntur quasi inventore quos repellendus eligendi dolorem eos odit quae deleniti? Consequatur praesentium perferendis ab reprehenderit, quis consequuntur? Nihil, animi minus!</p>
            </div>
            <div class="d-none d-md-block col-md -6">
                <img src="static/people.jpg" 
                style="height: 320px; border-radius: 4px; ">
            </div>
        </div>
        
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}   
            {% endfor %}   
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
        </div>
        
    </div>
    {% include 'footer.html' %}
</body>
</html>