<nav class="navbar shadow-sm fixed-top bg-white bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="static/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Prat Careers
    </a>
    <ul class="nav justify-content-left border-bottom pb-3 mb-3"> 
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li> 
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li> <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">About</a>
            </li> 
        </ul>
  </div>
</nav>
<div style="height: 56px">
</div>